.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.home-name {
  color: #3b82f6;
  font-size: 70px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

.home-topic {
  color: #334155;
  font-size: 35px;
  margin: 0;
  margin-bottom: 25px;
}

.home-image {
  height: 350px;
  width: 60%;
}

.view-heading {
  color: #334155;
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
}

.view-paragraph {
  color: #475569;
  font-size: 25px;
  margin: 0;
  margin-bottom: 25px;
}

.view-button {
  color: #ffffff;
  background-color: #2563eb;
  font-size: 20px;
  font-weight: 600;
  height: 40px;
  width: 120px;
  margin-bottom: 25px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.view-image {
  height: 350px;
  width: 60%;
}